body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    touch-action: pan-y pinch-zoom;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

.lang-menu {
    text-align: right;
    position: relative;
    border-radius: 5px;
    /* bottom: 5px; */
}


.logo-link {
    display: block;
}

#unique-logo {
    height: 50px;
    width: auto;
    vertical-align: middle;

    opacity: unset;
    position: unset;
    top: unset;
    left: unset;
}

#unique-logo-mobile {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-bottom: 20px;

    opacity: unset;
    position: unset;
    top: unset;
    left: unset;
}



.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/pw/AP1GczMW5aUhdch_NJpdfr4llR6GHULCp-G2DYQjxIJ-3rj4dpKQYhv0-iM0csEHkPr6BjncWyirWBA2LK5iebqxVF9WLrbYQdD_k1eWKkWIraqhYZn71PbEMpS8g17mIFhxE6Cgl2jECpL1LwgIu-ut8a_z=w1634-h343-s-no-gm?authuser=0');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.name {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    background-color: black;

    color: white;
    font-size: 1.5em;
    z-index: 3;
    display: flex;
}

.a-name {
    color: white;
    text-decoration: none;

    top: 20px;
    position: absolute;
    display: flex;
}

.name-in-menu {
    color: white;
    display: none;
    text-align: center;
}

nav {
    position: fixed;
    top: 70px;
    z-index: 3;
}

.menu-icon {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.menu-icon.active i::before {
    content: "\f00d";
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.nav-links.active .name-in-menu {
    display: block;
    margin-bottom: 40px;
}

.nav-links.active li {
    margin: 20px 0;
    width: auto;
    text-align: center;
}

.nav-links.active a {
    font-size: 1.5em;
    display: block;
    padding: 10px;
    border-bottom: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

#contact-content {
    color: white;
    text-align: center;
    padding: 20px 20px;
    z-index: 1;
    top: 10vh;
    position: relative;
    max-width: 1200px;
}

#contact-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contact-content p {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 30px;
    font-size: 1.6rem;
}

.social-icons a {
    color: white;
    margin: 0 10px;
}

.social-icons a:hover {
    color: gray;
}

.footer {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    z-index: 2;
    top: 200px;
    display: block;
}

#footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .name {
        position: fixed;
        height: 9vh;
        color: black;
        text-decoration-line: blink;
    }

    nav {
        position: static;
        top: 60px;
        z-index: 3;
    }

    .menu-icon {
        display: block;
        position: fixed;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-button {
        padding: 10px;
        font-size: 1.5em;
    }

    .footer {
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        position: relative;
        bottom: 0;
        z-index: 2;
        top: 200px;
        display: block;
    }

    .footer p {
        font-size: 0.8rem;
    }

    #contact-content {
        color: white;
        text-align: center;
        padding: 20px 20px;
        z-index: 1;
    }

    #contact-content h1 {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }

    #contact-content p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .social-icons {
        margin-top: 30px;
        font-size: 1.4rem;
    }

    .social-icons a {
        color: white;
        margin: 0 10px;
    }

    .social-icons a:hover {
        color: gray;
    }

    .lang-menu {
        text-align: center;
        position: relative;
        margin-left: 0;
        font-size: .9em;
    }

}
