body {
    margin: 0;
    /* font-family: sans-serif; */
    color: white;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




.logo-link {
    display: block;
    /* Make the link a block element */
}

#unique-logo {
    height: 50px;
    /* Adjust as needed - Example height */
    width: auto;
    /* Maintain aspect ratio */
    vertical-align: middle;
    /* Align vertically with the rest of the nav */

    opacity: unset;
    position: unset;
    top: unset;
    left: unset;
}

#unique-logo-mobile {
    height: 30px;
    /* Adjust as needed - Example height */
    width: auto;
    /* Maintain aspect ratio */
    vertical-align: middle;
    /* Align vertically with the rest of the nav */
    margin-bottom: 20px;

    opacity: unset;
    position: unset;
    top: unset;
    left: unset;
}




/* z-index: 3;
    right: 0px;
    left: 0px; */

.name {
    position: absolute;
    top: 20px;
    /* left: 20px; */
    color: white;
    font-size: 1.5em;
    z-index: 3;
    display: block;
    align-self: center;
}

.a-name {
    color: white;
    text-decoration: none;
}

.name-in-menu {
    color: white;
    display: none;
    text-align: center;
}

nav {
    position: absolute;
    top: 70px;
    z-index: 3;
    align-self: center;
}

.menu-icon {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.menu-icon.active i::before {
    content: "\f00d";
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.nav-links.active .name-in-menu {
    display: block;
    margin-bottom: 40px;
}

.nav-links.active li {
    margin: 20px 0;
    width: auto;
    text-align: center;
}

.nav-links.active a {
    font-size: 1.5em;
    display: block;
    padding: 10px;
    border-bottom: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
    .name {
        /* display: none; */
        position: absolute;
        color: black;
        text-decoration-line: blink;
    }

    nav {
        position: static;
        top: 60px;
        z-index: 3;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

#project-description {
    color: black;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
    white-space: pre-wrap;
    text-align: center;
    position: relative;
    top: calc(-1* var(--previous-section-divider-offset, 0px));
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 4vw;
    padding-left: 4vw;
    margin: 0 auto;
    box-sizing: content-box;
    display: grid;
    justify-content: center;
    justify-content: center;
    /* width: 50%;  */
}


#project-header {
    text-align: center;
    padding: 100px 20px;
    background-image: url('../image/img-0.1.png');
    /* Replace with your background image */
    background-size: cover;
    background-position: center;
    position: relative;
}

#project-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#project-header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    padding-top: 3.3vmax;

}

#project-header p {
    font-size: 1.2em;
    position: relative;
    display: grid;
    z-index: 2;
    row-gap: 11.0px;
    column-gap: 11.0px;
    padding-bottom: 3.3vmax;
    padding-left: 6vmax;
    padding-right: 6vmax;
    /* padding-top: 3.3vmax; */
}
/* .................................................................... */
/* #project-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1500px;
    margin: 20px auto;
}

.project-image {
    overflow: hidden;
    position: relative;

}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

#lightbox.hidden {
    display: none;
}

#lightbox-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: default;
}

#lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
}

#lightbox-caption {
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    width: 100%;
} */

/* .project-image:hover img {
    transform: scale(1.1);
} */
/* ................................................................................... */
@media (max-width: 768px) {
    #project-images {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(300px, auto);
    }

    #project-header {
        padding: 50px 10px;
        /* Reduced padding */
    }

    #project-header h1 {
        font-size: 2em;
        /* Smaller title */
    }

    #project-header p {
        font-size: 1em;
        /* Smaller subtitle */
    }

    #project-images {
        grid-template-columns: 1fr;
        /* Single column */
        grid-gap: 10px;
    }

    .project-image {
        grid-auto-rows: minmax(200px, auto);
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    #project-header {
        padding: 75px 15px;
        /* Adjust padding */
    }

    #project-header h1 {
        font-size: 2.5em;
        /* Adjust title size */
    }

    #project-header p {
        font-size: 1.1em;
        /* Adjust subtitle size */
    }

    #project-images {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns */
        grid-gap: 15px;
    }

    .project-image {
        grid-auto-rows: minmax(250px, auto);
        /* Set a minimum height for the images */
    }
}

/* Larger Tablets and smaller Desktops (iPad Air, iPad Pro 11", some larger Android tablets) - Portrait and Landscape */
@media (min-width: 1024px) and (max-width: 1279px) {
    #project-header {
        padding: 80px 20px;
    }

    #project-header h1 {
        font-size: 2.7em;
    }

    #project-header p {
        font-size: 1.2em;
    }

    #project-images {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns */
        grid-gap: 18px;
    }

    .project-image {
        grid-auto-rows: minmax(250px, auto);
    }
}

/* Desktop and Larger Screens (iPad Pro 12.9" and larger) */
@media (min-width: 1280px) {
    #project-images {
        grid-template-columns: repeat(4, 1fr);
        /* Four columns on larger screens */
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    width: 30%;
    margin-right: 50px;
    text-align: center;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .text-container {
    width: 40%;
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  
  .text-container h2 {
    margin-bottom: 20px;
  }
  
  .text-container p {
    margin-bottom: 10px;
  }